<suite name="SmokeSuite" verbose="1" parallel="tests"
	thread-count="5">
	<!-- <listeners> <listener class-name="org.uncommons.reportng.HTMLReporter" 
		/> <listener class-name="org.uncommons.reportng.JUnitXMLReporter" /> </listeners> -->

	<tests>

		<test name="run on device 1">

			<classes>
				<parameter name="port" value="4723" />
				<parameter name="device" value="192.168.157.101:5555"></parameter>

				<class name="testpkg.ParallelTest">
					<methods>

						<include name="ValidLoginTest" />
						<exclude name="InvalidValidLoginTest" />
					</methods>
				</class>
			</classes>
		</test>

		<test name="run on device 2">

			<classes>
				<parameter name="port" value="4725"></parameter>
				<parameter name="device" value="192.168.157.102:5555"></parameter>
				<parameter name="bp" value="4728"></parameter>
				<class name="testpkg.ParallelTest">
					<methods>
						<include name="InvalidValidLoginTest" />
						<exclude name="ValidLoginTest" />
					</methods>
				</class>
			</classes>
		</test>
	</tests>
</suite>